@import url('https://cdn-uicons.flaticon.com/uicons-solid-rounded/css/uicons-solid-rounded.css');


.App {
  background: #000;
  height: 100vh;
}



/* Herosec */
.hero_head {
  font-size: 72px;
  background: -webkit-linear-gradient(rgb(251, 0, 255), rgb(121, 0, 196));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}